<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <p-toast></p-toast>

  <p-card>

    <p-fieldset
      [collapsed]="true"
      legend="Exame da Matéria" [toggleable]="true" [collapsed]="false">

        <!-- Campos do Exame -->
        <div class="form-group">
          <label for="descricao">Descrição:</label>
            <textarea
              class="form-control col-12"
              pInputTextarea
              rows="5" cols="30"
              type="text"
              formControlName="descricao"
              >
            </textarea>
        <div *ngIf="resourceForm.get('descricao')?.invalid && resourceForm.get('descricao')?.touched">
          <small class="text-danger">Descrição é obrigatória</small>
        </div>
      </div>


      <app-objeto-laudo-form
      (objetoAdicionado)="adicionarObjeto($event)"
      >
    </app-objeto-laudo-form>

    <div class="btn-salvar">
      <button
        icon="pi pi-save"
        pRipple
        class="p-button-success"
        type="submit"
        pButton
        label=" Salvar"
        severity="success mr-2"
        >
      </button>
    </div>


  </p-fieldset>
</p-card>
<!-- Lista de Objetos de Laudo-->

<app-objeto-laudo-list
  formArrayName="objetos"
  [objetos]="objetos"
  >
</app-objeto-laudo-list>

<!-- Fim da Lista de Objetos de Laudo -->
</form>

