<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <p-toast></p-toast>
  <p-card>

    <p-fieldset
      [collapsed]="true"
      legend="Exame da Matéria" [toggleable]="true" [collapsed]="false">

        <!-- Campos do Exame -->
        <div class="form-group">
          <label for="descricao">Descrição:</label>
            <textarea
              class="form-control col-12"
              pInputTextarea
              rows="5" cols="30"
              type="text"
              formControlName="descricao"
              [disabled]="descricaoHabilitada"
              >
            </textarea>
        <div *ngIf="resourceForm.get('descricao')?.invalid && resourceForm.get('descricao')?.touched">
          <small class="text-danger">Descrição é obrigatória</small>
        </div>
      </div>

      <div class="btn-salvar">
        <button
          icon="pi pi-save"
          pRipple
          class="mr-2 p-button-success"
          type="submit"
          pButton
          label="Salvar"
          severity="success"
          >
        </button>
        <button
          icon="pi pi-pencil"
          pRipple
          class=" ml-2 p-button-info"
          (click)="editarDescricao()"
          pButton
          label=" Editar"
          [disabled]="!descricaoHabilitada"
          >
        </button>
    </div>


  </p-fieldset>
  <a routerLink="exames" style="text-decoration: none;"><p>Consultar exames</p></a>
  <a routerLink="objetos/novo" style="text-decoration: none;"><p-button pRipple icon="pi pi-plus" label="Objeto"></p-button></a>

</p-card>
</form>



