<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <p-toast></p-toast>

  <p-card>

    <p-fieldset
      [collapsed]="true"
      legend="Exame da Matéria" [toggleable]="true" [collapsed]="false">

        <!-- Campos do Exame -->
        <div class="form-group">
          <label for="descricao">Descrição:</label>
            <textarea
              class="form-control col-12"
              pInputTextarea
              rows="5" cols="30"
              type="text"
              formControlName="descricao"
              [disabled]="descricaoHabilitada"
              >
            </textarea>
        <div *ngIf="resourceForm.get('descricao')?.invalid && resourceForm.get('descricao')?.touched">
          <small class="text-danger">Descrição é obrigatória</small>
        </div>
      </div>



      <div class="btn-salvar">
        <button
          icon="pi pi-save"
          pRipple
          class="mr-2 p-button-success"
          type="submit"
          pButton
          label="Salvar"
          severity="success"
          >
        </button>
        <button
          icon="pi pi-pencil"
          pRipple
          class=" ml-2 p-button-info"
          (click)="editarDescricao()"
          pButton
          label=" Editar"
          [disabled]="!descricaoHabilitada"
          >
        </button>
    </div>


  </p-fieldset>
  <a href="/exames" style="text-decoration: none;"><p>Consultar exames</p></a>

  <!--
    Formulário de cadastro de objeto
  -->
  <div class="obj-form" *ngIf="exibirFormObjeto">
    <app-objeto-laudo-form

      (objetoAdicionado)="adicionarObjeto($event)"

      >
    </app-objeto-laudo-form>
  </div>
</p-card>
<!-- Lista de Objetos de Laudo
-->

<div class="obj-list" *ngIf="objetos.length > 0">
  <app-objeto-laudo-list
    formArrayName="objetos"
    [objetos]="objetos"
    >
  </app-objeto-laudo-list>
</div>
<div *ngIf="objetos.length === 0">
  <b>Nenhum objeto associado a este exame</b>
</div>

<!-- Fim da Lista de Objetos de Laudo -->
</form>

