<div class="container">

<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <p-toast></p-toast>
  <div class="mt-3" >

    <p-card>
      <app-dropdown
        label="Responsável"
        class="mr-3"
        name="label"
        [options]="tipoDoResponsavel()"
        placeholder="Selecione"
        formControlName="parte"
        (click)="selecionarParte()"
        >
      </app-dropdown>
    </p-card>

</div>

<div class="quesitos">

  <p-card class="col-12">
    <div class="justify-content-center">
      <app-input-textarea
        label="Pergunta:"
        formControlName="pergunta"
        >
      </app-input-textarea>
    </div>
  </p-card>

  <p-card class="col-12">
    <div class="justify-content-center">
      <app-input-textarea
        label="Resposta:"
        formControlName="resposta"
        >
      </app-input-textarea>
    </div>

    <div class="botoes mt-3">
      <app-button 
        class="mr-2" 
        type="submit" 
        label="Salvar" 
        [disabled]="!resourceForm.valid">
      </app-button>
      <app-button 
        severity="danger" 
        label="Cancelar" 
        [outlined]="true"
        [disabled]="!resourceForm.valid"
        (click)="cancelar()">
      </app-button>

      <app-button
        class="ml-2"
        icon="pi pi-pencil"
        severity="info"
        [outlined]="true"
        (click)="editar()"
        label="Editar"
        >
      </app-button>

      <div style="display: inline-block;">
        <app-gpt-assistente 
          [isDisabled]="!resourceForm.valid"
          [objetos]="objetos"
          [contexto]="contexto"
          (generate)="gerarRespostaIA($event)"
          >
        </app-gpt-assistente>
      </div>

      <a [routerLink]="['/laudos', laudoId, 'edit', 'quesitos']" style="text-decoration: none;"><p>Consultar quesitos</p></a>
    </div>
  </p-card>

</div>
</form>

</div>