<p-card header="Exame da Matéria">
  <p-toast></p-toast>

  <!--Botões de Criar e Deletar-->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button pRipple label="Novo" icon="pi pi-plus" [routerLink]="['novo']" [disabled]="exame.id != null"></p-button>

      <p-button pRipple label="Deletar" icon="pi pi-trash" severity="danger" (click)="deletar(exame)" [disabled]="!exame.id"></p-button>
    </ng-template>
  </p-toolbar>

  <!--Tabela de Detalhes do Exame-->
  <div *ngIf="exame?.id; else noExame">
    <p-table [value]="[exame]">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Quantidade de Objetos</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-exame>
        <tr>
          <td>{{ exame.id }}</td>
          <td>{{ exame.descricao }}</td>
          <td>{{ exame.objetos?.length }}</td>
          <td>
            <a [routerLink]="[ exame.id, 'edit']">
              <i style="color: green; cursor: pointer;" class="pi pi-pencil mr-2 btn-editar"></i>
            </a>
            <i (click)="deletar(exame)" style="color: red; cursor: pointer;" class="pi pi-trash btn-excluir"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template #noExame>
    <p>Nenhum exame encontrado para este laudo.</p>
  </ng-template>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</p-card>
