<div class="container">
  
  <p-card header="Nomeações">
    <p-toast></p-toast>
  
    <p-toolbar styleClass="mb-4 gap-2">
  
      <!--Botões de Criar e Deletar-->
  
      <ng-template pTemplate="left">
        <a class="mr-2" href="/nomeacoes/novo">
          <app-button
            label="Nova"
            icon="pi pi-plus"
            >
          </app-button>
        </a>
  
        <app-button
          label="Deletar"
          icon="pi pi-trash"
          severity="danger"
          (click)="deletarNomeacoesSelecionadas()"
          [disabled]="!nomeacoesSelecionadas || !nomeacoesSelecionadas.length"
          >
        </app-button>
      </ng-template>
  
    </p-toolbar>
  
    <!--Tabela de Processos-->
  
    <p-table
      #tabela
      [value]="nomeacoes"
      [rows]="10"
      [paginator]="true"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="nomeacoesSelecionadas"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
      [showCurrentPageReport]="true"
      [globalFilterFields]="[
        'processo.numero', 'nomeacao.processo?.numero',
        'dataNomeacao', 'nomeacao.dataNomeacao',
        'dataAceite', 'nomeacao.dataAceite',
        'prazo', 'nomeacao.prazo',
        'aceite', 'nomeacao.aceite'
        ]"
  
      >
  
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Gerenciamento de Nomeações</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <!-- filtro -> erro no $event.target.value -->
            <input pInputText type="text" (input)="applyFilterGlobal($event)" placeholder="Buscar..." />
          </span>
        </div>
      </ng-template>
  
      <!--Header Table-->
  
      <ng-template pTemplate="header">
        <tr>
          <th style="width:4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="nomeacao.processo?.numero">Processo<p-sortIcon field="nomeacao.processo?.numero"></p-sortIcon></th>
          <th pSortableColumn="dataNomeacao">Data da Nomeação<p-sortIcon field="dataNomeacao"></p-sortIcon></th>
          <th pSortableColumn="prazo">Prazo<p-sortIcon field="prazo"></p-sortIcon></th>
          <th pSortableColumn="aceite">Aceite<p-sortIcon field="aceite"></p-sortIcon></th>
          <th pSortableColumn="dataAceite">Data do Aceite<p-sortIcon field="dataAceite"></p-sortIcon></th>
          <th pSortableColumn="honorarioEnviado">Honorários<p-sortIcon field="honorarioEnviado"></p-sortIcon></th>
          <th pSortableColumn="honorarioHomologado">Honorário Homologado<p-sortIcon field="honorarioHomologado"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
  
      <!--Body Table-->
      <ng-template pTemplate="body" let-nomeacao>
        <tr>
          <td>
            <p-tableCheckbox [value]="nomeacao"></p-tableCheckbox>
          </td>
          <td>{{ nomeacao.processo?.numero }}</td>
          <td>{{ nomeacao.dataNomeacao | date: 'dd/MM/yyyy' }}</td>
          <td>{{ nomeacao.prazo | date: 'dd/MM/yyyy' }}</td>
          <td>
            <app-input-switch disabled [(ngModel)]="nomeacao.aceite"></app-input-switch>
          </td>
          <td>{{ nomeacao.dataAceite | date: 'dd/MM/yyyy' }}</td>
          <td>{{ nomeacao.honorarioEnviado | currency: 'BRL':'symbol':'1.2-2' }}</td>
          <td>{{ nomeacao.honorarioHomologado | currency: 'BRL':'symbol':'1.2-2' }}</td>
          <td>
            <app-button
              severity="success"
              icon="pi pi-pencil"
              [text]="true"
              (click)="editar(nomeacao)"
              >
            </app-button>
            <app-button 
              icon="pi pi-trash"
              severity="danger" 
              [text]="true"
              (click)="deletar(nomeacao)"
              >
            </app-button>
          </td>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">Total de {{ nomeacoes ? nomeacoes.length : 0 }} processos.</div>
      </ng-template>
    </p-table>
  
    <!--=============================================================================-->
    <!--==Caixa de diálogo de edição==-->
  
    <app-dialog 
      [(visible)]="nomeacaoDialog" 
      [style]="{ 'width': '550px','margin':'30px' }" 
      header="Detalhes da Nomeação" 
      [modal]="true" 
      styleClass="p-fluid">
      <div class="datas mt-3">
          <app-date-picker
            title="Data da Nomeação:"
            [(ngModel)]="nomeacao.dataNomeacao"
            >
          </app-date-picker>
        <small class="p-error" *ngIf="submitted && !nomeacao.dataNomeacao">Data da nomeação é obrigatória.</small>
      </div>

      <div class="datas mt-3">
          <app-date-picker
            title="Prazo:"
            [(ngModel)]="nomeacao.prazo"
            >
          </app-date-picker>
        <small class="p-error" *ngIf="submitted && !nomeacao.dataNomeacao">Data da nomeação é obrigatória.</small>
      </div>

      <div class="datas mt-3">
        <app-date-picker
          title="Data do Aceite:"
          [(ngModel)]="nomeacao.dataAceite"
          >
        </app-date-picker>
      </div>

      <div class="field mt-3">
        <label for="aceite">Aceitou a nomeação?</label>
        <app-input-switch [(ngModel)]="nomeacao.aceite"></app-input-switch>
      </div>

      <div class="honorario">
        <app-input-number 
          title="Honorários:"
          [(ngModel)]="nomeacao.honorarioEnviado"
          >
        </app-input-number>
      </div>
      <div class="homologado mt-2 mb-2">
        <app-input-number class="mt-2"
          title="Honorário Homologado:"
          [(ngModel)]="nomeacao.honorarioHomologado" 
          >
        </app-input-number>
      </div>
      
      <app-button
        label="Cancelar"
        icon="pi pi-times"
        (click)="esconderDialog()"
        >
      </app-button>
      <app-button
        class="ml-2"
        label="Salvar"
        icon="pi pi-check"
        (click)="salvarEdicao()"
        [disabled]="submitted"
        >
      </app-button>
  
  </app-dialog>
  
    <!--=============================================================================-->
    <p-confirmDialog [style]="{ width: '450px'}"></p-confirmDialog>
  </p-card>
</div>

