<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <p-toast></p-toast>

  <div class="container">
    <h2>Cadastro de Nomeação</h2>

    <app-processo-autocomplete
        title="Número do processo"
        formControlName="processo"
        >
      </app-processo-autocomplete>
    <p-card>

      <div class="col-12">
        <b>Data da Nomeação</b>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="true" class="flex col-4" placeholder="Data da nomeação" formControlName="dataNomeacao"></p-calendar>
      </div>

      <div class="col-12">
        <b>Prazo</b>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="true" class="flex col-4" placeholder="Prazo" formControlName="prazo"></p-calendar>
      </div>

      <div class="col-12">
        <b>Data do Aceite</b>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="true" class="flex col-4" placeholder="Data do Aceite" formControlName="dataAceite"></p-calendar>
      </div>

      <div class="col-12">
        <b>Aceite</b>
        <input class="flex col-3" placeholder="Informe se aceitou a nomeação" pInputText type="text" formControlName="aceite" />
      </div>

      <p-button type="submit" pRipple label="Salvar" [disabled]="!formGroup.valid">
      </p-button>
      <p-button pRipple label="Cancelar" [outlined]="false" [disabled]="!formGroup.valid"
        (onClick)="cancelar()">
      </p-button>
      <a href="/nomeacoes" style="text-decoration: none;"><p>Consultar nomeações</p></a>

    </p-card>

  </div>

</form>

