<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <p-card header="Novo Processo">
    <p-toast></p-toast>

    <div class="grid">
      <div class="col-12">
        <b>Vara: </b>
        <input placeholder="Vara" pInputText type="text" formControlName="vara" />
      </div>

      <div class="col-12">
        <b>Comarca: </b>
        <input placeholder="Comarca" pInputText type="text" formControlName="comarca" />
      </div>

      <div class="col-12">
        <b>Assunto: </b>
        <input placeholder="Assunto" pInputText type="text" formControlName="assunto" />
      </div>

      <div class="col-12">
        <b>Número: </b>
        <input placeholder="Informe o número do processo" pInputText type="text" formControlName="numero" />
      </div>

      <div class="col-12 md:col-12">
        <app-dropdown class="mr-3" name="label" [options]="tiposDeAutor()" placeholder="Selecione"
          formControlName="parteAutora">
        </app-dropdown>
        <input placeholder="Nome" pInputText type="text" formControlName="nomeAutor" />
      </div>

      <div class="col-12 md:col-12">
        <app-dropdown class="mr-3" name="label" [options]="tiposDeReu()" placeholder="Selecione"
          formControlName="parteReu">
        </app-dropdown>
        <input placeholder="Nome" pInputText type="text" formControlName="nomeReu" />
      </div>

      <p-button type="submit" pRipple label="Salvar" [disabled]="!formGroup.valid">
      </p-button>
      <p-button pRipple label="Cancelar" [outlined]="false" [disabled]="!formGroup.valid"
        (onClick)="cancelar()">
      </p-button>
    </div>
    <a href="/processos" style="text-decoration: none;"><p>Consultar processos</p></a>

  </p-card>

</form>
