
<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <div class="container">
    <p-toast></p-toast>

  <p-card>

    <div class="form-documentos">
      <div class="mb-2">
        <app-input-text 
          title="Título:"
          class="col-4" 
          placeholder="Título" 
          formControlName="nomeTitulo"
          >
        </app-input-text>
      </div>
      <app-input-textarea 
        class="col-12" 
        rows="5" 
        cols="30" 
        label="Descrição"
        id="float-input"
        formControlName="descricao"
        >
      </app-input-textarea>

      <app-calendar 
        title="Data:"
        class="flex col-4" 
        placeholder="dd/mm/aaaa"
        formControlName="data">
      </app-calendar>

    </div>

    <div class="mt-3">
      <app-button 
        icon="pi pi-save" 
        class="btn-salvar p-button-success" 
        type="submit" 
        label="Salvar" 
        [disabled]="!resourceForm.valid"
        >
      </app-button>

      <app-button 
        class="col-3 btn-cancelar" 
        label="Cancelar"
        [outlined]="true"
        [disabled]="!resourceForm.valid" 
        (click)="cancelar()" 
        >
      </app-button>
    </div>
    <a [routerLink]="['/laudos', laudoId, 'edit', 'exames', exameId, 'edit', 'objetos']" style="text-decoration: none;">
      <p>Consultar objetos</p>
    </a>

  </p-card>
  </div>
</form>
