<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <p-toast></p-toast>

  <p-card>

    <div class="form-documentos">
      <div formGroupName="documento">
        <input
          class="col-4"
          placeholder="Nome do Documento"
          pInputText
          type="text"
          formControlName="nomeTitulo"
          >
        <textarea
          class="col-12"
          pInputTextarea
          rows="5" cols="30"
          type="text"
          formControlName="descricao"
          >
        </textarea>

        <p-calendar
          class="flex col-4"
          dateFormat="dd/mm/yy" [readonlyInput]="true"
          placeholder="Data do Documento"
          formControlName="data"
          >
        </p-calendar>

      </div>

    </div>

    <div class="mt-3">
      <button
        icon="pi pi-save"
        pRipple
        class="btn-salvar p-button-success"
        type="submit"
        label="Salvar Objeto"
        pButton
        severity="success mr-2"
        >
      </button>

      <p-button
        (click)="cancelar()"
        pRipple
        class="col-3 btn-cancelar"
        label="Cancelar"
        severity="danger mr-2"
        >
      </p-button>
    </div>
    <a routerLink="../objetos" style="text-decoration: none;"><p>Consultar objetos</p></a>

  </p-card>
</form>


