<app-mega-menu></app-mega-menu>
<p-toast></p-toast>
<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">


  <div class="container">
    <!--Dados do processo -->
    <div>
      <app-processo-autocomplete
        formControlName="processo"
        title="Número do processo"
        >
      </app-processo-autocomplete>

    </div>
  </div>

  <div class="container">
    <div class="mb-2 col-6">
      <p-card header="Introdução">
        <textarea
          placeholder="Insira uma introdução"
          pInputTextarea
          rows="5" cols="30"
          formControlName="introducao"
          >
        </textarea>
      </p-card>
    </div>

    <div class="mb-2 col-6">
      <p-card header="Objetivo">
        <textarea
          placeholder="Informe o objetivo do laudo pericial"
          pInputTextarea
          rows="5" cols="30"
          formControlName="objetivo"
          >
        </textarea>
      </p-card>
    </div>

    <div class="mb-2 col-6">
      <p-card header="Metodologia Aplicada">
        <textarea
          placeholder="Informe a metodologia utilizada na perícia"
          pInputTextarea
          rows="5" cols="30"
          formControlName="metodologiaAplicada"
          >
        </textarea>
      </p-card>
    </div>

    <div class="mb-2 col-6">
      <p-card header="Histórico do Processo">
        <textarea
          placeholder="Informe o Histórico do Processo"
          pInputTextarea
          rows="5" cols="30"
          formControlName="historico"
          >
        </textarea>
      </p-card>
    </div>

  </div>

  <div class="mb-2 col-6">
    <p-card header="Conclusão">
      <textarea
        placeholder="Insira a Conclusão"
        pInputTextarea
        rows="5" cols="30"
        formControlName="conclusao"
        >
      </textarea>
    </p-card>
  </div>

  <p-button
    label="Salvar"
    icon="pi pi-save"
    type="submit"
    class="ml-2"
    severity="success"
    >
  </p-button>
  <p-button
    label="Cancelar"
    icon="pi pi-eraser"
    (click)="cancelar()"
    class="ml-2"
    severity="info"
    >
  </p-button>

</form> <!--Fim do Formulário-->

